OPENAI_API_KEY=your-openai-api-key

**Components used reason**
python-dotenv is used to securely load API keys, Streamlit is used to build the chatbot user interface, and langchain-google-genai is used to connect the chatbot to the Google Gemini AI model and generate responses. Together, these components enable the chatbot to accept questions and provide AI-powered answers.

**chatbot.py**

Steps of below Code:
1. User Query
2. Display user Query
3. Save Query to chat history
4. Send the chat history to llm
5. get response from llm
6. save response in chat history
7. Display llm response

[{"role": "system", "content": "You are a helpful assistant"}, {"role": "user", "content": "What is ML?"}]
